My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "166521f4-ab92-45c9-93a5-42e8a4457c24",
      "name": "Schedule Trigger",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1ovZMrwKl4lbCoC1LdOFn53R856gjoc_cx0_QMh2TkZE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ovZMrwKl4lbCoC1LdOFn53R856gjoc_cx0_QMh2TkZE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Vencimento ",
              "lookupValue": "={{ $today.toFormat('dd-MM-yyyy') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "36b4af19-24b0-44d3-8440-cd7adb13320a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "CDygy3eeLuXTC4aG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "seu-email@exemplo.com",
        "toEmail": "seu-email@exemplo.com",
        "subject": "=Lembrete de Pagamento: {{ $json['Conta '] }}",
        "emailFormat": "text",
        "text": "=Conta: {{ $json['Conta ']}}\nValor: R$ {{ $json['Valor '] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "36167780-00fd-495a-8830-0a1a014c2b33",
      "name": "Send an Email",
      "webhookId": "c079bded-f918-4034-9803-daa9b134ccb5",
      "credentials": {
        "smtp": {
          "id": "4NsnjVWi3vaoVtkj",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3424dfb5-4992-4d6f-9d64-bb2be11c4c17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b122629cd90b22192b6246bb954e126df9b901265cccf716a788f89dd33c97e"
  },
  "id": "6S3JxZMpJrjiff3w",
  "tags": []
}