My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "166521f4-ab92-45c9-93a5-42e8a4457c24",
      "name": "Schedule Trigger",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1ovZMrwKl4lbCoC1LdOFn53R856gjoc_cx0_QMh2TkZE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ovZMrwKl4lbCoC1LdOFn53R856gjoc_cx0_QMh2TkZE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Vencimento ",
              "lookupValue": "={{ $today.toFormat('dd-MM-yyyy') }}"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "pendente"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "36b4af19-24b0-44d3-8440-cd7adb13320a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "CDygy3eeLuXTC4aG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "seu-email@exemplo.com",
        "toEmail": "seu-email@exemplo.com",
        "subject": "=Lembrete de Pagamento: {{ $json['Conta '] }}",
        "emailFormat": "text",
        "text": "=Conta: {{ $json['Conta ']}}\nValor: R$ {{ $json['Valor '] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "36167780-00fd-495a-8830-0a1a014c2b33",
      "name": "Send an Email",
      "webhookId": "c079bded-f918-4034-9803-daa9b134ccb5",
      "credentials": {
        "smtp": {
          "id": "4NsnjVWi3vaoVtkj",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ovZMrwKl4lbCoC1LdOFn53R856gjoc_cx0_QMh2TkZE",
          "mode": "list",
          "cachedResultName": "Contas da Clinica",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ovZMrwKl4lbCoC1LdOFn53R856gjoc_cx0_QMh2TkZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ovZMrwKl4lbCoC1LdOFn53R856gjoc_cx0_QMh2TkZE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "avisado"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Conta ",
              "displayName": "Conta ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor ",
              "displayName": "Valor ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vencimento ",
              "displayName": "Vencimento ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        16
      ],
      "id": "45035212-89c2-4859-849c-5e4d5b3cb6eb",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "CDygy3eeLuXTC4aG",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cc7cd003-2e87-41af-a937-05aa30e179bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b122629cd90b22192b6246bb954e126df9b901265cccf716a788f89dd33c97e"
  },
  "id": "6S3JxZMpJrjiff3w",
  "tags": []
}